@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Caprasimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --principal-gray: #e9e5de;
    --first-brown: #76463c;
    --first-pink: #febfbf;
    --first-dark-pink: #a96c72;
    --second-red: #b95359;
    --second-pink: #f5bab2;
    --second-yellow: #f4bf75;
    --third-red: #c84c49;
    --third-pink: #e8b5b3; 
    --third-blue: #b4c1e1;
}

html{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    h1{
        font-family: "Caprasimo", serif;
        color: var(--first-brown);
        font-size: 70px;
    }