:root {
    --principal-gray: #e9e5de;
    --first-brown: #76463c;
    --first-pink: #febfbf;
    --first-dark-pink: #a96c72;
    --second-red: #b95359;
    --second-pink: #f5bab2;
    --second-yellow: #f4bf75;
    --third-red: #c84c49;
    --third-pink: #e8b5b3; 
    --third-blue: #b4c1e1;
}